@CHARSET "ISO-8859-1";
#keysViewContainer #itemContainer {
  position: relative;
  float: left;
  width: 100%; }
  #keysViewContainer #itemContainer .itemRoot {
    padding: 10px 0;
    width: 98%;
    float: left;
    margin: 0 10px;
    border-bottom: 1px dotted #d6d6d6; }
    #keysViewContainer #itemContainer .itemRoot input, #keysViewContainer #itemContainer .itemRoot .engText {
      width: 45%;
      float: right;
      margin-right: 10px;
      margin-top: 9px; }
    #keysViewContainer #itemContainer .itemRoot .keyText {
      width: auto;
      float: left;
      margin-left: 10px;
      margin-top: 9px; }
    #keysViewContainer #itemContainer .itemRoot .button-globe {
      float: right;
      width: 24px;
      height: 38px;
      margin-right: 25px;
      cursor: pointer;
      background: url(../images/globe.png) no-repeat 0px 50%; }
    #keysViewContainer #itemContainer .itemRoot .button-globe:hover {
      background: url(../images/globe.png) no-repeat -25px 50%; }

#keysViewContainer #noResultMsg {
  width: 100%;
  height: auto;
  position: relative;
  display: none;
  float: left;
  text-align: center; }

#keysViewContainer #headerContainer {
  width: 100%; }
  #keysViewContainer #headerContainer #keyTitle {
    margin-top: 20px;
    margin-left: 20px;
    float: left; }
  #keysViewContainer #headerContainer #engTitle {
    margin-top: 20px;
    width: 45%;
    margin-right: 59px;
    float: right; }

@font-face {
  font-family: minionFont;
  src: url(minion.otf); }

.popup_box_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none; }

.scroll {
  overflow-y: scroll;
  overflow-x: hidden; }

#imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 5px;
  float: left;
  display: none; }

#tips {
  position: relative;
  width: 100%;
  float: left;
  display: none; }

.print_container {
  position: relative;
  margin: 20px auto;
  min-width: 980px;
  width: 980px;
  height: auto;
  background-color: red; }

.a4Container {
  font-family: minionFont;
  position: relative;
  float: left;
  width: 940px;
  height: 1219px;
  margin: 10px 0px;
  background: white; }
  .a4Container #header {
    position: relative;
    margin: 10px auto;
    width: 20%;
    height: 5%; }
    .a4Container #header img {
      width: 100%;
      height: auto; }
  .a4Container #content {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 85%;
    color: black;
    font-size: 16px;
    text-align: center;
    text-align: left; }
    .a4Container #content #title {
      position: relative;
      font-weight: bold;
      height: auto;
      text-align: center;
      margin-bottom: 30px; }
    .a4Container #content #time {
      position: relative;
      float: left;
      width: 94%;
      height: auto;
      margin: 10px 3%; }
    .a4Container #content #item_pic {
      position: relative;
      float: left;
      width: 48%;
      height: auto;
      margin: 5px 3% 3% 3%; }
    .a4Container #content .firstCol {
      position: relative;
      float: left;
      width: 100px; }
    .a4Container #content .quote {
      width: 10px;
      position: relative;
      float: left;
      margin-left: 5px;
      margin-right: 5px; }
    .a4Container #content .thirdCol {
      position: relative;
      float: left;
      width: 740px; }
    .a4Container #content #des {
      position: relative;
      color: black;
      float: left;
      height: auto;
      margin-top: 40px;
      font-size: 16px;
      text-align: left; }
    .a4Container #content #itemImage {
      position: relative;
      width: 500px;
      margin: auto;
      height: auto;
      display: block; }
    .a4Container #content #itemTitle {
      font-weight: bold;
      margin: auto;
      width: 100%;
      position: relative;
      text-align: center; }
  .a4Container .footer {
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 40px;
    text-align: center; }

.popup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  min-height: 200px;
  max-height: 90%;
  max-width: 800px;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #6c6f71;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  padding: 20px;
  overflow: hidden; }
  .popup_box .input {
    box-sizing: border-box;
    width: 48.6%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 10px;
    padding-bottom: 15px; }
  .popup_box h1 {
    color: #67532F; }
  .popup_box .closeBtn {
    right: 7px;
    top: 7px; }
  .popup_box label, .popup_box t {
    width: 100%; }
  .popup_box .tips {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 29px; }

.closeBtnPrint {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 19px;
  height: 18px;
  cursor: pointer;
  background: url("../images/close.png") no-repeat; }

.popup_big {
  min-height: 600px;
  min-width: 980px; }
  .popup_big input, .popup_big label {
    width: auto; }
  .popup_big .closeBtn {
    top: 13px;
    right: 13px; }
  .popup_big #tabletBG {
    float: left;
    width: 100%;
    height: 641px;
    background-image: url("../images/samsung_tab2.png");
    background-repeat: no-repeat;
    background-size: cover; }
    .popup_big #tabletBG #appBGContainer {
      position: absolute;
      width: 795px;
      height: 498px;
      margin: 0 0;
      top: 116px;
      left: 93px; }
      .popup_big #tabletBG #appBGContainer #appBG {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../images/general_item_base.png");
        background-repeat: no-repeat;
        background-size: cover; }
      .popup_big #tabletBG #appBGContainer #dimmer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../images/dimmer.png");
        background-repeat: no-repeat;
        background-size: cover; }
      .popup_big #tabletBG #appBGContainer #itemImage {
        position: absolute;
        top: 68px;
        left: 302px;
        width: 471px;
        height: 362px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .popup_big #tabletBG #appBGContainer #itemImage.subcat {
        top: 95px;
        left: 305px;
        width: 466px;
        height: 94px; }
      .popup_big #tabletBG #appBGContainer #overlayBox {
        position: absolute;
        top: 68px;
        left: 382px;
        width: 391px;
        height: 362px;
        background-color: rgba(0, 0, 0, 0.55); }
      .popup_big #tabletBG #appBGContainer #overlayBox1 {
        position: absolute;
        top: 61px;
        left: 0;
        width: 42px;
        height: 86%;
        background-color: rgba(0, 0, 0, 0.55); }
      .popup_big #tabletBG #appBGContainer #overlayBox1.subcat {
        top: 35px;
        width: 42px;
        height: 93%; }
      .popup_big #tabletBG #appBGContainer #overlayBox1.food {
        top: 203px;
        width: 294px;
        height: 58%; }
      .popup_big #tabletBG #appBGContainer #overlayBox1.foodDetail {
        top: 35px;
        width: 214px;
        height: 93%; }
      .popup_big #tabletBG #appBGContainer #overlayBox2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 61px;
        background-color: rgba(0, 0, 0, 0.55); }
      .popup_big #tabletBG #appBGContainer #overlayBox2.subcat {
        height: 88px; }
      .popup_big #tabletBG #appBGContainer #overlayBox2.food {
        height: 203px; }
      .popup_big #tabletBG #appBGContainer #overlayBox2.foodDetail {
        height: 35px; }
      .popup_big #tabletBG #appBGContainer #overlayBox3 {
        position: absolute;
        top: 61px;
        left: 253px;
        width: 38px;
        height: 392px;
        background-color: rgba(0, 0, 0, 0.55); }
      .popup_big #tabletBG #appBGContainer #overlayBox3.subcat {
        top: 88px;
        width: 43px;
        height: 392px; }
      .popup_big #tabletBG #appBGContainer #overlayBox3.food {
        top: 35px;
        left: 783px;
        width: 26px;
        height: 435.5px; }
      .popup_big #tabletBG #appBGContainer #overlayBox3.foodDetail {
        top: 35px;
        left: 588px;
        width: 207px;
        height: 432px; }
      .popup_big #tabletBG #appBGContainer #overlayBox4 {
        position: absolute;
        top: 118px;
        left: 42px;
        width: 211px;
        height: 375px;
        background-color: rgba(0, 0, 0, 0.55); }
      .popup_big #tabletBG #appBGContainer #overlayBox4.subcat {
        top: 149px;
        left: 42px;
        width: 211px;
        height: 345px; }
      .popup_big #tabletBG #appBGContainer #overlayBox4.food {
        top: 251px;
        left: 294px;
        width: 489px;
        height: 215px; }
      .popup_big #tabletBG #appBGContainer #overlayBox4.foodDetail {
        width: 0px;
        height: 0px; }
      .popup_big #tabletBG #appBGContainer #overlayBox5 {
        position: absolute;
        top: 441px;
        left: 291px;
        width: 504px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0.55); }
      .popup_big #tabletBG #appBGContainer #overlayBox5.subcat {
        top: 91px;
        left: 778px;
        width: 18px;
        height: 362px; }
      .popup_big #tabletBG #appBGContainer #overlayBox5.food {
        width: 0px;
        height: 0px; }
      .popup_big #tabletBG #appBGContainer #overlayBox5.foodDetail {
        width: 0px;
        height: 0px; }
      .popup_big #tabletBG #appBGContainer #overlayBox6 {
        position: absolute;
        top: 59px;
        left: 785px;
        width: 11px;
        height: 382px;
        background-color: rgba(0, 0, 0, 0.55); }
      .popup_big #tabletBG #appBGContainer #overlayBox6.subcat {
        top: 194px;
        left: 296px;
        width: 484px;
        height: 266px; }
      .popup_big #tabletBG #appBGContainer #overlayBox6.food {
        width: 0px;
        height: 0px; }
      .popup_big #tabletBG #appBGContainer #overlayBox6.foodDetail {
        width: 0px;
        height: 0px; }
      .popup_big #tabletBG #appBGContainer #arrowBtn {
        position: absolute;
        top: 210px;
        left: 354px;
        width: 28px; }
      .popup_big #tabletBG #appBGContainer #zoom_container {
        position: absolute;
        top: 73px;
        left: 686px; }
      .popup_big #tabletBG #appBGContainer #zoomInBtn {
        flaot: left;
        margin-left: -2px;
        position: relative;
        width: 40px; }
      .popup_big #tabletBG #appBGContainer #zoomOutBtn {
        flaot: left;
        margin-right: -3px;
        position: relative;
        width: 40px; }
      .popup_big #tabletBG #appBGContainer #description_text, .popup_big #tabletBG #appBGContainer #itemTitle, .popup_big #tabletBG #appBGContainer #parentTitle {
        color: white; }
      .popup_big #tabletBG #appBGContainer #description_text_container {
        position: absolute;
        font-size: 16px;
        top: 103px;
        left: 382px;
        width: 391px;
        height: 326px;
        padding: 10px;
        overflow: hidden; }
        .popup_big #tabletBG #appBGContainer #description_text_container #description_text {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          padding: 10px;
          padding-right: 20px;
          right: -18px;
          overflow: auto; }
      .popup_big #tabletBG #appBGContainer #itemTitle {
        position: absolute;
        top: 64px;
        left: 47px;
        width: 201px;
        height: 51px;
        vertical-align: middle;
        overflow: hidden;
        font-size: 15px; }
        .popup_big #tabletBG #appBGContainer #itemTitle #itemTitleText {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height: 50px; }
      .popup_big #tabletBG #appBGContainer #itemTitle.subcat {
        top: 94px; }
      .popup_big #tabletBG #appBGContainer #itemTitle.food {
        top: 207px;
        left: 310px;
        width: 367px;
        height: 38px; }
      .popup_big #tabletBG #appBGContainer #parentTitle {
        position: absolute;
        top: 5px;
        left: 71px;
        width: 251px;
        height: 31px;
        overflow: hidden;
        font-size: 18px; }
      .popup_big #tabletBG #appBGContainer #foodText {
        position: absolute;
        cursor: pointer;
        top: 217px;
        left: 310px;
        width: 367px;
        height: 18px;
        overflow: hidden;
        color: white; }
      .popup_big #tabletBG #appBGContainer #priceText {
        position: absolute;
        cursor: pointer;
        top: 217px;
        left: 690px;
        width: 67px;
        height: 18px;
        color: white; }
      .popup_big #tabletBG #appBGContainer #greyPopupBox {
        position: absolute;
        color: white;
        top: 35px;
        left: 214px;
        width: 374px;
        height: 430px;
        font-size: 14px;
        background: #646464;
        border-radius: 5px; }
        .popup_big #tabletBG #appBGContainer #greyPopupBox #closeBtn {
          position: relative;
          float: right;
          margin-top: 10px;
          margin-right: 10px;
          width: 25px;
          height: 24px;
          cursor: pointer; }
        .popup_big #tabletBG #appBGContainer #greyPopupBox #title {
          position: relative;
          float: left;
          width: 100%;
          text-align: center;
          height: auto;
          margin-top: 10px; }
        .popup_big #tabletBG #appBGContainer #greyPopupBox #price {
          position: relative;
          float: left;
          width: 100%;
          text-align: center;
          height: auto; }
        .popup_big #tabletBG #appBGContainer #greyPopupBox #description {
          position: relative;
          float: left;
          width: 100%;
          height: auto;
          margin: 30px 0px;
          padding: 10px; }
  .popup_big #optionsArea {
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    width: 100%;
    height: auto;
    float: left; }
    .popup_big #optionsArea #imageText, .popup_big #optionsArea #desText, .popup_big #optionsArea #highlightText, .popup_big #optionsArea #descriptionOption, .popup_big #optionsArea #imageOption, .popup_big #optionsArea #highlightOption {
      float: left; }
    .popup_big #optionsArea #imageText, .popup_big #optionsArea #desText, .popup_big #optionsArea #highlightText {
      margin-right: 10px; }

.photo_box #head {
  position: absolute;
  width: 99%;
  height: 60px;
  left: 0px;
  top: 10px;
  padding: 0 10px; }

.photo_box #middle {
  margin-top: 90px;
  margin-bottom: 70px;
  max-height: 510px;
  position: relative;
  width: 100%;
  float: left; }

.photo_box #foot {
  position: absolute;
  width: 97%;
  height: 60px;
  bottom: 10px;
  left: 0px; }

.addKey_box {
  overflow-y: scroll; }
  .addKey_box #head {
    width: 96%;
    height: auto;
    left: 0px;
    padding: 0 0px; }
  .addKey_box #middle {
    margin-top: 10px;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
    float: left; }
  .addKey_box #foot {
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 10px;
    left: 0px;
    float: left; }

#signInContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #eee;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2000;
  overflow: block; }

.signIn_box {
  background: #FFF;
  overflow: hidden;
  font-family: 'Open Sans', Helvetica,"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em; }
  .signIn_box #head {
    width: 96%;
    height: 0px;
    left: 0px;
    padding: 0 10px; }
  .signIn_box #middle {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    float: left; }
  .signIn_box #foot {
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 10px;
    left: 0px;
    float: left; }
  .signIn_box input {
    margin: 20px 0; }
  .signIn_box #signInBtn {
    background: #37addf; }
  .signIn_box #signInBtn:hover {
    background: deepskyblue; }
  .signIn_box #warning {
    color: red; }

.menuContainer {
  position: relative;
  width: 100%;
  height: auto; }
  .menuContainer .menuItem {
    cursor: default;
    float: left;
    margin: 6px;
    color: #d6d6d6;
    border-bottom: 4px solid #d6d6d6; }
  .menuContainer .menuItem:hover {
    color: black; }
  .menuContainer .focus {
    color: #A89676;
    border-bottom: 4px solid #A89676; }
  .menuContainer .focus:hover {
    color: #A89676; }

.yes_no #msg {
  position: relative;
  width: 100%;
  text-align: center;
  color: darkslategrey; }

.yes_no .save_cancel_container {
  position: relative;
  bottom: 0;
  margin-bottom: 10px;
  margin-top: 42px;
  height: auto; }
  .yes_no .save_cancel_container #cancel_btn {
    position: relative;
    background: #926d6d;
    float: left;
    width: 70px; }
  .yes_no .save_cancel_container #confirm_btn {
    position: relative;
    background: #37addf;
    float: right;
    width: auto; }

#ulContainer {
  width: 92%;
  margin: 0px auto;
  overflow: hidden;
  max-width: 966px;
  min-width: 395px; }

#subTopBarContainer {
  position: fixed;
  width: 100%;
  height: 38px;
  background: #A89676;
  margin: 0px auto;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  font-family: 'Open Sans', Helvetica,"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 13px; }
  #subTopBarContainer ul {
    float: left;
    padding: 9px 0;
    list-style: none;
    margin: 0 0 0 25px;
    -webkit-transition: margin-left 1s linear;
    -moz-transition: margin-left 1s linear;
    -o-transition: margin-left 1s linear;
    transition: margin-left 1s linear; }
    #subTopBarContainer ul li {
      float: left;
      margin-right: 19px;
      cursor: pointer;
      -webkit-transition: margin-right 1s linear;
      -moz-transition: margin-right 1s linear;
      -o-transition: margin-right 1s linear;
      transition: margin-right 1s linear; }
      #subTopBarContainer ul li a {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        font-smoothing: antialiased;
        color: #fff;
        display: inline-block;
        padding: 1px 17px 8px 6px;
        text-decoration: none; }

#subTopBarContainer ul li[data-icon=guests] a, #subTopBarContainer ul li[data-icon=guests].current:hover a, #subTopBarContainer ul li[data-icon=guests].inactive:hover a {
  background-position: 10px 6px;
  color: #696969; }

#subTopBarContainer ul li[data-icon=messaging] a, #subTopBarContainer ul li[data-icon=messaging].current:hover a, #subTopBarContainer ul li[data-icon=messaging].inactive:hover a {
  background-position: 10px -114px;
  color: #696969; }

#subTopBarContainer ul li[data-icon=content] a, #subTopBarContainer ul li[data-icon=content].current:hover a, #subTopBarContainer ul li[data-icon=content].inactive:hover a {
  background-position: 10px -174px;
  color: #696969; }

#subTopBarContainer ul li[data-icon=setup] a, #subTopBarContainer ul li[data-icon=setup].current:hover a, #subTopBarContainer ul li[data-icon=setup].inactive:hover a {
  background-position: 10px -294px;
  color: #696969; }

.half_width_container {
  position: relative;
  width: 47%;
  margin: 0 10px;
  float: left; }

.half_width_container_small {
  position: relative;
  width: 47%;
  float: left; }

.half_width_container_small_right {
  margin-left: 22px; }

.half_width_container_popup {
  width: 47%;
  height: 67px; }
  .half_width_container_popup input {
    width: 100%;
    margin-bottom: 10px; }
  .half_width_container_popup label, .half_width_container_popup select {
    width: 100%; }

#des_en, #des_lang {
  width: 100%;
  float: left;
  position: relative;
  font-size: 13px; }

#textareaContainer {
  position: relative;
  width: 100%;
  float: left;
  margin-right: 10px; }

.detail_container {
  position: relative;
  width: 98%;
  height: auto;
  min-height: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 2px;
  padding-bottom: 20px;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .detail_container #itemName {
    position: relative;
    width: auto;
    float: left;
    margin: 5px 0px;
    margin-left: -5px;
    color: #67532F; }
  .detail_container #lang_selectionBox {
    position: relative;
    width: 200px;
    float: right;
    margin: 10px 0px; }
  .detail_container #titleLabel_en, .detail_container #descriptionLabel_en {
    position: relative;
    float: left;
    width: 50%;
    font-size: 13px; }
  .detail_container #titleLabel_lang, .detail_container #des_lang {
    position: relative;
    float: left;
    width: 45%;
    opacity: 0;
    font-size: 13px; }
  .detail_container #detailTitle_en, .detail_container #detailTitle_lang {
    position: relative;
    float: left;
    width: 64%; }
  .detail_container #ckTextEditor_en {
    position: relative;
    float: left;
    width: 100%;
    height: auto; }
  .detail_container .sub_section {
    position: relative;
    width: 100%;
    float: left;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: underline; }
  .detail_container #priceSection, .detail_container #commandSection {
    display: none; }
  .detail_container .dash {
    position: relative;
    width: 70%;
    border-top: 1px dashed #999;
    float: left;
    padding-right: 10%;
    margin: 10px 20px; }
  .detail_container #ImageContainer {
    height: auto;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px; }
    .detail_container #ImageContainer #addImageBtn {
      width: 110px;
      height: 110px;
      float: left;
      border: none;
      color: #fff;
      background: #fff url(../images/camera.png) no-repeat 0px 0px;
      cursor: pointer; }
    .detail_container #ImageContainer #addImageBtn:hover {
      background: #fff url(../images/camera.png) no-repeat 0px -150px; }
    .detail_container #ImageContainer .image {
      border: 1px solid #808080;
      height: 100px;
      margin: 5px 5px;
      padding: 2px;
      width: auto;
      float: left;
      cursor: pointer; }
    .detail_container #ImageContainer .image:hover {
      border: 1px solid deepskyblue; }
    .detail_container #ImageContainer .prefer, .detail_container #ImageContainer .prefer:hover {
      border: 2px solid #F00;
      padding: 1px; }
  .detail_container #IconContainer {
    height: auto;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px; }
    .detail_container #IconContainer #addIconBtn {
      width: 110px;
      height: 110px;
      float: left;
      border: none;
      color: #fff;
      background: #fff url(../images/camera.png) no-repeat 0px 0px;
      cursor: pointer; }
    .detail_container #IconContainer #addImageBtn:hover {
      background: #fff url(../images/camera.png) no-repeat 0px -150px; }
    .detail_container #IconContainer .image {
      border: 1px solid #808080;
      height: 100px;
      margin: 5px 5px;
      padding: 2px;
      width: auto;
      float: left;
      cursor: pointer; }
    .detail_container #IconContainer .image:hover {
      border: 1px solid deepskyblue; }
    .detail_container #IconContainer .prefer, .detail_container #IconContainer .prefer:hover {
      border: 2px solid #F00;
      padding: 1px; }
  .detail_container #VideoThumbnailContainer {
    height: auto;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px; }
    .detail_container #VideoThumbnailContainer #addVdoThnBtn {
      width: 110px;
      height: 110px;
      float: left;
      border: none;
      color: #fff;
      background: #fff url(../images/camera.png) no-repeat 0px 0px;
      cursor: pointer; }
    .detail_container #VideoThumbnailContainer #addImageBtn:hover {
      background: #fff url(../images/camera.png) no-repeat 0px -150px; }
    .detail_container #VideoThumbnailContainer .image {
      border: 1px solid #808080;
      height: 100px;
      margin: 5px 5px;
      padding: 2px;
      width: auto;
      float: left;
      cursor: pointer; }
    .detail_container #VideoThumbnailContainer .image:hover {
      border: 1px solid deepskyblue; }
    .detail_container #VideoThumbnailContainer .prefer, .detail_container #VideoThumbnailContainer .prefer:hover {
      border: 2px solid #F00;
      padding: 1px; }
  .detail_container .save_cancel_container {
    position: relative;
    width: 100%;
    height: auto;
    float: left; }
    .detail_container .save_cancel_container #delete_btn {
      background: #926d6d;
      float: left; }
    .detail_container .save_cancel_container #delete_btn:hover {
      background: #37addf; }
    .detail_container .save_cancel_container #save_btn {
      background: #37addf;
      float: right; }
    .detail_container .save_cancel_container #save_btn:hover {
      background: #23a3da; }
    .detail_container .save_cancel_container #preview_btn, .detail_container .save_cancel_container #print_preview_btn {
      float: right;
      margin-right: 10px; }
    .detail_container .save_cancel_container #print_preview_btn {
      display: none; }
  .detail_container #priority_checkbox {
    width: auto; }
  .detail_container #all_guest_radio {
    box-sizing: border-box;
    padding: 0;
    width: 10px;
    margin: 2px;
    margin-top: 6px;
    padding: 0;
    display: inherit;
    float: left; }
  .detail_container #custom_radio {
    box-sizing: border-box;
    padding: 0;
    width: 10px;
    margin: 2px;
    margin-top: 6px;
    padding: 0;
    display: inherit;
    float: left; }
  .detail_container #all_guest_label, .detail_container #custom_label {
    display: inline;
    float: none;
    clear: left;
    text-align: left;
    width: 30%;
    padding: .4em 0 0 0;
    margin: .15em .5em 0 0; }
  .detail_container #search {
    width: 75%;
    height: 40px;
    margin: 12px 0px;
    margin-right: 12px;
    float: left;
    padding-left: 2.25em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../images/icons/magnifying_glass.png");
    background-position: 0.5em 50%;
    background-repeat: no-repeat; }
  .detail_container .list {
    border: #bfbfbf solid 1px;
    border-radius: 5px;
    height: 300px; }
  .detail_container .fixList {
    height: 290px;
    overflow-y: scroll;
    padding: 5px 0; }
  .detail_container .add_button {
    padding: 0;
    margin: 3px 7px;
    width: 23px;
    height: 23px;
    font-size: 19px;
    line-height: 23px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    background-color: #4A6965;
    float: right;
    cursor: pointer; }
  .detail_container .add_button.pink {
    background-color: #d81b60; }
  .detail_container .first_column {
    float: left;
    margin: 0 7px;
    width: 15%; }
  .detail_container .second_column {
    float: left;
    margin: 0 7px;
    width: 60%; }
  .detail_container .guest_item_container, .detail_container .option_item_container {
    float: left;
    border-bottom: #bfbfbf solid 1px;
    width: 100%; }
  .detail_container #guest_list, .detail_container #select_guest_list {
    padding-bottom: 3px; }
  .detail_container #container_checkInDate, .detail_container #container_checkOutDate, .detail_container #container_checkOut {
    font-size: 13px; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.42857143;
  vertical-align: top;
  border-bottom: 1px solid #DAD6CF; }

.table > thead > tr > th {
  vertical-align: bottom; }

td, th {
  padding: 0px; }

.tableHead {
  font-weight: bold;
  font-size: 13px; }

#tableContainer {
  padding: 0 10px; }

html, body {
  width: 100%;
  background: #FFF;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  color: #333;
  background-color: white;
  font-family: 'Open Sans', Helvetica,"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em; }

h1 {
  line-height: 1.2em;
  font-size: 23px;
  color: #37addf;
  font-weight: 400; }

h2 {
  line-height: 1.2em;
  font-size: 20px;
  color: #696969; }

input[disabled] {
  cursor: default;
  opacity: 0.5; }

td {
  -webkit-font-smoothing: antialiased;
  border-bottom-color: #d6d6d6;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: black;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: black;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: black;
  border-top-style: none;
  border-top-width: 0px;
  cursor: pointer;
  display: table-cell;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 48px;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 13px;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  word-wrap: break-word; }

#resultTable, #headerTable {
  width: 100%; }
  #resultTable .titleContainer, #headerTable .titleContainer {
    float: left;
    position: relative; }
  #resultTable .smallThumb, #headerTable .smallThumb {
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat; }
  #resultTable .titleText, #headerTable .titleText {
    float: left;
    position: relative; }

#noResultMsg {
  width: 100%;
  text-align: center;
  display: none; }

#commonTable {
  float: right;
  position: relative;
}

th {
  width: 100px;
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #6c6f71; }

.headRow {
  display: none; }

.headRow:hover {
  background: white; }

#container {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  margin-top: 82px;
  max-width: 1200px; }

#loadContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20000; }

.pages-route {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  float: left; }
  .pages-route a {
    float: left;
    outline: none;
    margin-right: 3px;
    color: #808080;
    font-size: 14px; }
  .pages-route a:link {
    text-decoration: none; }
  .pages-route a:visited {
    text-decoration: none; }
  .pages-route a:hover {
    color: #CBBCA1;
    text-decoration: underline; }
  .pages-route a:active {
    text-decoration: underline; }
  .pages-route .breadcrumbs-separator {
    font-family: "Arial";
    padding: 0 0em 0 0px;
    display: inline-block;
    width: 16px;
    float: left;
    margin-right: 3px; }

.sub-menu {
  position: relative;
  height: auto;
  float: left;
  width: 100%; }
  .sub-menu .sub-menu-btn {
    position: relative;
    width: auto;
    height: auto;
    float: left;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    /*border-radius: 4px;*/
    /* border: 1px solid #bfbfbf; */
    /* background-color: white; */
    /* color: #6c6f71; */
    margin: 0 10px 0 0;
    /* cursor: pointer; */
    /* font-weight: 600; */ }

#itemListContainer, #mediaViewContainer, #keysViewContainer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  float: left;
  margin: 20px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px; }

.table-header {
  position: relative;
  padding: 10px 20px; }
  .table-header .addBtn {
    position: relative;
    width: 10%;
    height: auto;
    float: right;
    color: white;
    background: #9cc53b;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    cursor: pointer; }

.submit {
  position: relative;
  float: right; }

#pages-container, #subhead_container, #content_container {
  position: relative;
  width: 100%;
  height: auto; }
  #pages-container .table-header, #subhead_container .table-header, #content_container .table-header {
    position: relative;
    height: auto;
    padding: 10px 20px; }
    #pages-container .table-header h1, #subhead_container .table-header h1, #content_container .table-header h1 {
      float: left;
      font-weight: 300;
      color: #67532F; }

#takePictureField {
  position: relative;
  margin-top: 5px;
  float: left;
  display: block; }

#uploadImage {
  position: relative;
  margin-top: 5px;
  float: left;
  width: 100%;
  height: auto; }

#photoStreamContainer {
  float: left;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 10px;
  margin-left: 10px; }
  #photoStreamContainer #stream1, #photoStreamContainer #stream2, #photoStreamContainer #stream3 {
    float: left;
    width: 33%;
    height: auto; }
  #photoStreamContainer .image {
    border: 1px solid #808080;
    width: 92%;
    height: auto;
    margin: 5px 5px;
    padding: 2px;
    float: left;
    cursor: pointer; }
  #photoStreamContainer .image:hover {
    border: 2px solid #567A63; }
  #photoStreamContainer .fixHeight {
    border: 2px solid #d3d3d3;
    width: 163px;
    height: 100px;
    margin: 7px 7px;
    padding: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #photoStreamContainer .fixHeight:hover {
    border: 2px solid #567A63; }

#paginationContainer {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  margin: 10px 20px; }

.closeBtn {
  position: absolute;
  width: 19px;
  height: 18px;
  right: -7px;
  top: 3px;
  cursor: pointer;
  background: url("../images/close.png") no-repeat; }

#topBar {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #323338;
  z-index: 1000; }
  #topBar #logoutBtn {
    float: right;
    margin: 20px 20px;
    margin-left: 0px;
    color: white;
    font-size: 13px;
    cursor: pointer; }
  #topBar #logoutBtn:hover {
    color: #DFC37C; }
  #topBar #mailContainer {
    float: right;
    height: 70px;
    margin: 20px 10px;
    margin-right: 0px;
    color: white;
    font-size: 13px; }
    #topBar #mailContainer #userEmail {
      float: right;
      margin: 0px 20px;
      margin-right: 0px;
      color: white;
      font-size: 13px; }
    #topBar #mailContainer #changePW {
      position: absolute;
      top: 40px;
      right: 116px;
      color: black;
      padding: 3px;
      font-size: 13px;
      background-color: white;
      cursor: pointer; }
  #topBar #seperator {
    float: right;
    margin: 20px 20px;
    color: white;
    font-size: 13px; }

#tipsBox {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  display: none; }

#footer {
  padding-top: 10px;
  padding-bottom: 30px;
  float: left;
  width: 100%;
  height: auto;
  border-top: 1px #A89676 solid;
  position: relative; }
  #footer #reserved_text {
    position: relative;
    float: left; }
  #footer #version_number {
    float: right; }

#banner {
  width: auto;
  height: auto;
  overflow: visible;
  position: relative; }

.round_btn {
  position: relative;
  height: 38px;
  width: auto;
  color: white;
  padding: 0 15px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font: normal normal 14px/38px Arial,Helvetica,sans-serif; }

.removeImage {
  top: 12px;
  right: 11px;
  position: absolute;
  width: 17px;
  height: 17px;
  display: none;
  cursor: pointer;
  background: url("../images/delete.png") no-repeat center center;
  background-size: cover; }

.addKey_box #saveCreateBtn {
  background: deepskyblue; }

.addKey_box #deleteBtn {
  background: #808080; }

.swapBtn {
  background: url("../images/sort.svg") right center no-repeat;
  width: 40px;
  height: 20px;
  float: right; }

.swapBtn:hover {
  cursor: url("../images/openhand.cur"), auto; }

#search {
  width: 300px;
  height: 40px;
  margin: 12px 12px;
  margin-top: 17px;
  float: right;
  padding-left: 2.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../images/icons/magnifying_glass.png");
  background-position: 0.5em 50%;
  background-repeat: no-repeat; }

.enableBtn {
  width: 42px;
  height: auto;
  float: right;
  margin: 0 auto;
  position: relative;
  text-align: center;
  position: relative;
  color: white;
  background: #433E5C;
  -webkit-border-radius: 59px;
  -moz-border-radius: 59px;
  -ms-border-radius: 59px;
  border-radius: 59px;
  border-radius: 59px; }

.enableBtn:hover {
  background: #9D9AAB; }

.disable {
  background: grey; }

.disable:hover {
  background: darkgray; }

#item_list_boxer, #media_boxer, #keys_boxer {
  float: left;
  margin-top: 25px;
  margin-bottom: 0px; }

#item_list_head_title, #media_head_title, #keys_head_title {
  color: #67532F; }

.descriptionText {
  height: 60px; }

.ui-sortable-helper {
  display: table; }
